<hibernate-configuration>
	<session-factory>
		<!-- Дефолтные данные: драйвер, через который подключаемся, адрес, порт, имя бд -->
		<!-- testDB -->

	    <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <!-- Название драйвера -->
        <property name="connection.driver_class">org.postgresql.Driver</property>

		<property name="hibernate.default_schema">myschema</property><!-- NEW CRAP -->

		<!-- Логин и пароль -->
        <property name="connection.username">postgres</property> <!-- DB User -->
   		<property name="connection.password">Disturbed_1</property> <!-- DB Password -->
   		<property name="connection.pool_size">20</property> <!-- DB Password -->

		<property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

		<!--
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> ДЕПРИКЕЙТЕД

		-->

		<!--
		При создании
			UPDATE чтобы добавлять записи повторяющиеся - обновляет базу
		 	CREATE - каждый раз создает новую базу
			create-drop - удаляет таблицу после работы(завершения сессии) когда сешшон фактори клозед

		 -->

		<property name="hbm2ddl.auto">create</property> <!-- create / create-drop / update -->

		<property name="show_sql">false</property> <!-- Show SQL in console -->
		<property name="format_sql">true</property> <!-- Show SQL formatted -->
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="entities.Student"/><!-- -->
		<mapping class="entities.Teacher"/><!-- -->
		<mapping class="entities.Group"/><!-- -->



	</session-factory>
</hibernate-configuration>