<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- DispatcherServlet Context: defines this servlet's request-processing
        infrastructure -->

    <!-- Enables the Spring MVC @Controller programming model -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- 1 конфиг -->

    <context:component-scan base-package="controller,dao,service" /> <!--config-->



    <!-- Resolves views selected for rendering by @Controllers to .jsp resources
        in the /WEB-INF/views directory -->
    <beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="webapp/WEB-INF/views/" /><!-- webapp/начало пути файла вьюшки -->
        <beans:property name="suffix" value=".jsp" /><!-- конец пути файла вьюшки -->
    </beans:bean>


<!-- namespace  -->
    <beans:bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
       <!-- <beans:property name="dataSource" ref="dataSource"/>
-->
        <beans:property name="jpaVendorAdapter">
            <beans:bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </beans:property>

        <beans:property name="persistenceUnitName" value="LOCAL_PERSISTENCE"/> <!-- test -->

        <beans:property name="packagesToScan" value=""/>
        <beans:property name="jpaProperties">
            <beans:props>



                <beans:prop key="hibernate.hbm2ddl.auto">create</beans:prop>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</beans:prop><!-- 95 -->
                <beans:prop key="hibernate.max_fetch_depth">3</beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
                <beans:prop key="hibernate.format_sql">true</beans:prop>
                <beans:prop key="hibernate.connection.autocommit">false</beans:prop>

                <beans:prop key="hibernate.connection.driver_class">org.postgresql.Driver</beans:prop>
                <beans:prop key="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</beans:prop>
                <beans:prop key="hibernate.connection.username">postgres</beans:prop>
                <beans:prop key="hibernate.connection.password">Disturbed_1</beans:prop>

                <!-- new -->
              <!--  <beans:prop key="hibernate.connection.provider_class">org.hibernate.ejb.HibernatePersistence</beans:prop>
-->


            </beans:props>
        </beans:property>



   <!-- св-ва из персистенс.хмл сюда -->
    </beans:bean>

    <beans:bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager"><!-- id="transactionManager"  -->
        <beans:property name="entityManagerFactory" ref="emf" />
    </beans:bean>

</beans:beans>