<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd "
         id="WebApp_ID" version="3.0" metadata-complete="true">

    <!-- NEW WORKING BUT REMOVE UNNESASARILY-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- / -->


<!--

     NEW
    <filter>
        <filter-name>oemInViewFilter</filter-name>
        <filter-class>
            org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
        <init-param>
            <param-name>entityManagerFactoryBeanName</param-name>
            <param-value>reportsEntityManagerFactory</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>oemInViewFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
     /NEW
-->










    <servlet>

        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!--
         NEW
-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                WEB-INF/applicationContext.xml,
                WEB-INF/securityContext.xml
<!--
                WEB-INF/*.xml-->
            </param-value>
        </init-param>


        <init-param>
            <param-name>throwExceptionIfNoHandlerFound</param-name>
            <param-value>true</param-value>
        </init-param>

        <!--<init-param>
            <param-name>throwExceptionIfNoHandlerFound</param-name>
            <param-value>true</param-value>
        </init-param>-->





    </servlet>


    <!-- Если файл конфигурации - applicationContext.xml, то можно написать так, либо использовать
     contextConfigLocation
     -->
<!--    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>-->

    <!-- what does every tag means? -->

    <!-- NEW -->

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- /NEW -->






    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern><!-- после localhost:8082/ что будет? или нет? -->
    </servlet-mapping>


    <!-- ERROR_PAGES -->

    <error-page>
        <error-code>400</error-code>
        <location>/400</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>

    <error-page><!-- picture with not found nuts patrick -->
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>

    <!-- /ERROR_PAGES -->



</web-app>